body {
  width: 500px;
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
}
p {
  width: 450px;
}
h1 {
  position: fixed;
  top: 0px;
  left: 50px;
  width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: #efefef;
  z-index: 10;}
p.example {
  margin-top: 75px;}
blockquote {
  float: right;
  width: 275px;
  font-size: 130%;
  font-style: italic;
  font-family: Georgia, Times, serif;
  margin: 0px 0px 10px 10px;
  padding: 10px;
  border-top: 1px solid #665544;
  border-bottom: 1px solid #665544;
}
div {
  border: 1px solid #665544;}
