.background {
  border-spacing: 0;
  table-layout: fixed;
  background: rgb(46, 150, 255);
}
.background td {
  padding: 0;
}
.wall {
  background: white;
}
.lava {
  background: rgb(255, 100, 100);
}
.actor {
  position: absolute;
}
.coin {
  background: rgb(255, 255, 0);
}
.player {
  background: rgb(64, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
.lost .player {
  background: rgb(180, 64, 64);
}
.game {
  border: 1px black solid;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 40%;
  position: relative;
}
#help {
  text-align: center;
}
