body {background-color: #8a9699;
      background-color: hsla(191,7%,57%,1);
      padding: 20px;}
h1   {background-color: #b8c0c1;
      background-color: rgba(184,192,193,1);
      padding: inherit;}
p    {margin:  0px;
      padding: 10px;
      color: #ffffff;}
#fourteen {background-color: #006eff;
           background-color: rgba(0,110,255,1);}
#thirteen {background-color: #1a7dff;}
#twelve   {background-color: #338bff;}
#eleven   {background-color: #4d9aff;}
#ten      {background-color: #66a8ff;}
#nine     {background-color: #80b7ff;}
#eight    {background-color: #99c5ff;}
#seven    {background-color: #12a114;}
#six      {background-color: rgb(255,153,238);}
#five     {background-color: rgb(255,128,234);}
#four     {background-color: rgb(255,102,229);}
#three    {background-color: rgb(255,77,225);}
#two      {background-color: rgb(255,51,221);}
#one      {background-color: rgb(255,26,217);}
#zero     {background-color: rgb(255,0,212);}
